/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
#setup {
  display: flex;
}

.playerSetup {
  width: 25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
button {
  font-family:fantasy;
}